html {
	font-size: 62.5%
}
body, h1, h2, h3, h4, h5, div, ul, li, img, a, span, p, video, source, i {
	margin: 0;
	padding: 0;
} 
body {
	width: 100%;
	background : #f5f5f5;
	position: relative;

}
ul {
	list-style-type: none
}
a {
	text-decoration: none;
	display: block
}
h4 {
	font-size: 3.6rem;
	color: #707070;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: -20px;
}
#header div {
	float: left;
}
.rectangle h2 span {
	display: block;
	margin-top: 30px
}
#logo{
	background: url('img/background-logo.png');
	/*background: url('img/slide3.jpg');*/
	width: 1254px;
	height: 826px;
}
#logo h1 {
	margin-top: 25px;
	margin-left: 375px;
}
#social {
	background: url('img/background-menu.png');
	/*background: url('img/france5.png');*/
	width: 668px;
	height: 826px;
	display: inline-block;
}
#social i {
	color: #fff;
	font-size: 20px;
}
#social i #bars {	
	font-size: 25px;
}
#social ul {
	width: 300px;
	padding-top: 60px;
	padding-left: 60px;
}
#social li {
	margin-left: 40px;
	float: left;
}
.images {
	/*background: url('img/services_img.png');*/
	background: url('img/picture3.jpg');
	width: 293px;
	height: 293px;
}
.white h2 {
	margin-top: 25px;
}
.big-box {
	background: url('img/project_img.png');
	/*background: url('img/picture2.jpg');*/
	width: 586px;
	height: 586px;
	position: relative;
}
.big-box, .calendar {
	position: absolute;
	right: 0px;
	bottom: 0px
}
.rectangle a {
	color: #fff;
	background: #363636;
	padding: 20px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-left: 30px;
	margin-bottom: 40px;
	display: inline-block;
}
.white-tall a {
	color: #363636;
	background: #ffe400;
	padding: 20px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 30px;
	margin-bottom: 40px;
	display: inline-block;
}
#blue a {
	color: #fff;
	background: #2297d8;
	padding: 20px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 30px;
	margin-bottom: 40px;
	display: inline-block;
}
h2 {
	margin-left: 30px;
	margin-bottom: 20px;
	margin-right: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
  	font-size: 2.8rem;
  	text-transform: uppercase;
  	color: #363636;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
  	font-size: 1.8rem;
  	color: #363636;
  	padding: 30px 30px 20px 30px;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	color: #a0a0a0;
	padding: 20px 30px 30px 30px;
}
.underline {
	border: 1px solid #363636;
	width: 40px;
	height: 5px;
	background: #363636;
	display: block;
	margin-left: 30px;
}
div .white , .calendar, .map, .pdf {
	background: #fff;
	width: 293px;
	height: 293px;
}
#pdf {
	display: block;
	background: url('img/sprite.png') no-repeat -10px -1097px;
	width: 83px;
	height: 83px;
}
#contact {
	display: block;
	background: url('img/sprite.png') no-repeat -196px -1097px;
	width: 83px;
	height: 83px;
}
#box_flash {
	display: block;
	background: url('img/sprite.png') no-repeat -196px -911px;
	width: 83px;
	height: 83px;
}
#drob {
	display: block;
	background: url('img/sprite.png') no-repeat -103px -911px;
	width: 83px;
	height: 83px;
}
#gear {
	display: block;
	background: url('img/sprite.png') no-repeat -10px -1004px;
	width: 83px;
	height: 83px;
}
#ball {
	display: block;
	background: url('img/sprite.png') no-repeat -10px -911px;
	width: 83px;
	height: 83px;
}
#gears {
	display: block;
	background: url('img/sprite.png') no-repeat -196px -1004px;
	width: 83px;
	height: 83px;
}
.calendar span {
	display: block;
	width: 293px;
	height: 293px;
}
#one {
	background: url('img/sprite.png') no-repeat -10px 0;
}
#two {
	background: url('img/sprite.png') no-repeat -10px -304px;
}
#three {
	background: url('img/sprite.png') no-repeat -10px -607px;
}
div .rectangle, .search {
	background: #ffe400;
	width: 586px;
	height: 293px;
}
div  .pdf {
	background: #ffe400;
	width: 293px;
	height: 293px;
}
div  .contact {
	background: #ffe400;
	width: 293px;
	height: 293px;
}
div .white-long, .white-box {
	width: 586px;
	height: 293px;
	background-color: #fff;
}
div .white-long-img {
	width: 586px;
	height: 293px;
	background-color: #fff;
	background: url('img/building.png');
}
div .white-tall {
	width: 293px;
	height: 586px;
}
div  .search {
	background: #ffe400;	
}
.rectangle p {
	color: #363636;
}
div #empty {
	width: 293px;
	height: 293px;
}
div #reviews {
	text-align: center;
}
div #reviews img {
	margin-top: 30px;
}
div #reviews h3 {
	margin-top: -10px;
}
div #review_bulets {
	background-color: #fcf3d3;
}
div #reviews i {
	color: #ffae00;
	font-size: 15px;
}
#wrapper {
	width: 1172px;
	margin: 0 auto;
	position: absolute;
	top: 240px;
	left: 375px;
}
#wrapper div {
	float: left;
}
div .images {
	width: 293px;
	height: 293px;
}
#footer {
	clear: both;
}
div #box-drob {
	background: url('img/services_img.png');
}
div #box-gear {
	background: url('img/services_img.png');
}
div #blue {
	background-color: #2297d8
}
div .map p{
	color: #fff;
}
div .white, #blue p{
	color: #fff;
}
div .white, #blue h3{
	color: #fff;
}